* {
	font-size: 12px;
	font-family: 'Microsoft Yahei', "simsun";
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	user-select: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.error {
	padding-top:220px;
	position: absolute;
	width: 601px;
	height: 240px;
	background: url(images/404.png) center top no-repeat;
}

.error .title{
	text-align: center;
	font-size:24px;
	color: #7387ac;
}

#map{
	height: 100%;
}


.head{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 40px;
	background:	url("images/others/headbg.png");
	z-index: 10;
}

.mapTitle {
	width: 400px;
	line-height: 40px;
	/* text-align: center; */
	font-size: 25px;
	color: #126EBD;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -180px;
}
.mapTitle .titleLineL{
	position: absolute;
	width: 170px;
    height: 40px;
   	background: url('images/others/head.png') no-repeat center;
}
.mapTitle .titleLineR{
	position: absolute;
	width: 170px;
    height: 40px;
    right: 0;
    top: 0;
   	background: url('images/others/head.png') no-repeat center;
}
.mapTitle .guihua{
	/* position: absolute; */
    background: url(images/others/gzyt.png) no-repeat;
    width: 33px;
    height: 15px;
    right: 141px;
   /*  top: 12px;
    z-index: 2; */
    display: block;
}
.mapTitle .zaijian{
    background: url(images/others/gzyt.png) no-repeat -36px 0px;
    width: 33px;
    height: 15px;
    right: 105px;
    display: block;
}
.mapTitle .yunxing{
    background: url(images/others/gzyt.png) no-repeat -72px 0px;
    width: 33px;
    height: 15px;
    display: block;
}
.iconzt{
	position: absolute;
	width: 140px;
	height: 15px;
	right:128px;
	top:50px;
	z-index:2;
}
.iconzt div{
	float: left;
	margin-left: 2px;
}
.mapTitle .tuiyun{
    background: url(images/others/gzyt.png) no-repeat -108px 0px;
    width: 33px;
    height: 15px;
    display: none;
}

.btnRight span {
	margin: 0 0 0 15px;
}

.btnRight.now {
	background: url("images/others/right.png") no-repeat center;
}

.fahd{
	background: url("images/others/hd.png") no-repeat left !important;
	color: gray;
}
.fasd{
	background: url("images/others/sd.png") no-repeat left !important;
	color: gray;
}
.fafd{
	background: url("images/others/fd.png") no-repeat left !important;
	color: gray;
}
.fagf{
	background: url("images/others/gf.png") no-repeat left !important;
	color: gray;
}
.fahed{
	background: url("images/others/hd1.png") no-repeat left !important;
	color: gray;
}
.facx{
	background: url("images/others/cx.png") no-repeat left !important;
	color: gray;
}

.dianyagy{
	background: url(images/others/dy.png) no-repeat 10px !important;
	color: gray;
}

.bdbd{
	background: url(images/others/bdz.png) no-repeat left !important;
	color: gray;
}
.bdhl{
	background: url(images/others/hlz.png) no-repeat left !important;
	color: gray;
}
.moreSearch li{
	cursor: pointer;
	height: 30px;
	line-height: 30px;
}
.moreSearch li:hover{
	background: gainsboro;
	color: #fff;
}
.polylinetip{
	position:absolute;
	background:#DA6161;
	color:#fff;
	border-radius:5px;
	padding: 0 5px 3px;
	font-size: 12px;
}
.polylinetip p{
	margin: 0;
	padding: 0;
	cursor: pointer;
	text-decoration: underline;
}

.polylinetip p:hover{
	color: #feff9c;
}

.pointName{
	position:absolute;
	background:#DA6161;
	color:#fff;
	border-radius:5px;
	padding: 0 5px 3px;
	font-size: 12px;
}

.pointName p{
	margin: 0;
	padding: 0;
	cursor: pointer;
	text-decoration: underline;
}

.pointName p:hover{
	color: #feff9c;
}



.mapTitle .mapimg{
	position: relative;
    top: -2px;
}


.mapTitle .mapspan{
    font-size: 22px;
}


.headLeft{
	position: absolute;
	width: 230px;
	padding: 10px 0;
	border-radius: 5px;
	left: 354px;
	z-index: 10;
}
.headLeft ul{
	overflow: hidden;
    padding-left: 10px;
}
.headLeft .icon{
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 10px;
	cursor: pointer;
}
.headLeft .fa{
	background: url("images/others/batte.png") no-repeat 0px -7px;
}
.headLeft .fa.now{
	background: url("images/others/batte.png") no-repeat -25px -7px;
}
.headLeft .fa.half{
	background: url("images/others/batte.png") no-repeat -50px -7px;
}
.headLeft .bd{
	background: url("images/others/batte.png") no-repeat 0px -53px;
}
.headLeft .bd.now{
	background: url("images/others/batte.png") no-repeat -25px -53px;
}
.headLeft .bd.half{
	background: url("images/others/batte.png") no-repeat -50px -53px;
}
.headLeft .sd{
	background: url("images/others/batte.png") no-repeat 0px -30px;
}
.headLeft .sd.now{
	background: url("images/others/batte.png") no-repeat -25px -30px;
}
.headLeft .sd.half{
	background: url("images/others/batte.png") no-repeat -50px -30px;
}
.headLeft .zl{
	background: url("images/others/zlicon.png") no-repeat;
}
.headLeft .zl.now{
	background: url("images/others/zliconT.png") no-repeat;
}
.headLeft .split{
	border-left: 1px dashed gray;
    width: 0px;
    height: 17px;
    margin-top: 2px;
}
.headLeft .dy{
	background: url("images/others/batte.png") no-repeat 0px -76px;
}
.headLeft .dy.now{
	background: url("images/others/batte.png") no-repeat -25px -76px;
}
.headLeft .dy.half{
	background: url("images/others/batte.png") no-repeat -50px -76px;
}

.headLeft .zfdy{
	background: url("images/others/batte.png") no-repeat 0px -99px;
}
.headLeft .zfdy.now{
	background: url("images/others/batte.png") no-repeat -25px -99px;
}
.headLeft .zfdy.half{
	background: url("images/others/batte.png") no-repeat -50px -99px;
}
.headLeft .zfdyhalf{
	background: url("images/others/dyv_12T.png") no-repeat;
}

.headLeft .rs{
	background: url("images/others/shuaxin2.png") no-repeat;
	background-size: 100%;
}
.headLeft .ss{
	background: url("images/others/fangdajing2.png") no-repeat;
	background-size: 100%;
}
.headLeft .wdzt{
	background: url("images/others/batte.png") no-repeat 0 -123px;
}
.headLeft .wdzt.on{
	background: url("images/others/batte.png") no-repeat -25px -123px;
}
.headLeft .wdzt.now{
	background: url("images/others/batte.png") no-repeat -25px -123px;
}
.headLeft .lxxs{
	width: 55px;
}
.shezhi{
	overflow: hidden;
	line-height: 20px;
}
.wdztItem .szicon{
	width:20px;
	height: 20px;
	background: url("images/others/bule.png") no-repeat -47px 2px;
	margin-left: 10px;
}
.wdztItem .szicon.now{
	width:20px;
	height: 20px;
	background: url("images/others/bule.png") no-repeat 0 2px;
	margin-left: 10px;
}

.shezhi div{
	float: left;
	overflow: hidden;
}
.wdztItem:not(:first-child){
	overflow: hidden;
	line-height: 20px;
	border-top: 1px solid #D4D4D4; 
	margin-top: 10px;
}
.wdztItem:not(:first-child) div{
	float: left;
	overflow: hidden;
	margin-top: 10px;
}
.btnRight {
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	background: url("images/others/left.png") no-repeat center;
	margin-top: -2px;
}
.icon .iconCon{
	position: absolute;
	width: 295px;
	border: 1px solid rgba(214, 210, 210, 0.781);
	border-radius: 2px;
	box-shadow: 1px 1px rgb(214, 210, 210);
	padding: 10px 10px;
	top: 42px;
	left: -54px;
	background: #FFFFFF;
	display: none;
}
.conTop .selectAll{
	text-align: right;
    width: 40px;
	float: right;
	color: #126EBD;
	text-decoration:underline;
	margin-right: 6px;
	cursor: pointer;
}
.conTop .noSelect{
	text-align: right;
    width: 40px;
	float: right;
	color: #126EBD;
	text-decoration:underline;
	cursor: pointer;
}
.conTop .lock{
	display:inline-block;
	float:right;
	width:20px;
	height:20px;
	background:url('images/others/lock.png') no-repeat;
}
.conTop .lock.locked{
	background-position-x:-23px;
}
.iconCon .conTop{
	height: 24px;
	border-bottom: 1px solid #D4D4D4;
}

.iconCon .conTop .conTopLeft{
	font-size: 14px;
	font-weight: bold;
}

.iconCon .faDiv,
.iconCon .shuDiv,
.iconCon .bianDiv,
.dyDiv,.zfdyDiv{
	overflow: hidden;
}
.iconCon .zswd{
	overflow: hidden;
	margin-bottom: 10px;
}
.faDiv span,
.bianDiv span,
.shuDiv span,
.zlDiv span,
.dyDiv span,
.zfdyDiv span,
.zswd span,
.yxzt span{
	display: block;
	width: 58px;
	height: 30px;
	float: left;
	padding-left: 40px;
	font-size: 12px;
	cursor: pointer;
	line-height: 30px;
	margin-top: 10px;
}

.icon .more{
	width:200px;
	background: url("images/others/arrow.png") no-repeat 126px center;
	margin-left: 36px;
	color: #999999;
}

.zswd span,.yxzt span{
	background: url("images/others/cirle.png") no-repeat 10px;
}
.zswd .now{
	background: url("images/others/cirleT.png") no-repeat 10px;
}
.yxzt .now{
	background: url("images/others/cirleT.png") no-repeat 10px;
}
.faDiv span:nth-of-type(1) {
	background: url("images/others/huodianchang.png") no-repeat left;
}
.faDiv span:nth-of-type(2) {
	background: url("images/others/shuidianchang.png") no-repeat left;
}
.faDiv span:nth-of-type(3) {
	background: url("images/others/fengdianchang.png") no-repeat left;
}
.faDiv span:nth-of-type(4) {
	background: url("images/others/guangfudianzhan.png") no-repeat left;
}
.faDiv span:nth-of-type(5) {
	background: url("images/others/hedianzhan.png") no-repeat left;
}
.faDiv span:nth-of-type(6) {
	background: url("images/others/chouxu.png") no-repeat left;
}
.bianDiv span:nth-of-type(1){
	background: url("images/others/biandianzhan.png") no-repeat left;
}
.bianDiv span:nth-of-type(2){
	background: url("images/others/huanliuzhan.png") no-repeat left;
}
.bianDiv span:nth-of-type(3){
	background: url("images/others/kaiguan.png") no-repeat left;
}
.bianDiv span:nth-of-type(4){
	background: url("images/others/qianyi.png") no-repeat left;
}
.bianDiv .kgz{
	background: url(images/others/dian.png) no-repeat -224px -62px !important;
} 
.bianDiv .qyz{
	background: url(images/others/qyz.png) no-repeat left !important;
} 

.shuDiv span:nth-of-type(1) {
	background: url("images/others/jiaoliuxianlu.png") no-repeat left;
}
.shuDiv .jlxlgy {
	background: url("images/others/jlxl.png") no-repeat left !important;
	color: gray;
}
.shuDiv span:nth-of-type(2){
	background: url("images/others/zhiliuxianlu.png") no-repeat left;
}
.shuDiv .zlxlgy {
	background: url("images/others/zlxl.png") no-repeat left !important;
	color: gray;
}

.dyDiv span:nth-of-type(1){
	background: url("images/dianya/jl/1000.png") no-repeat 10px;
}
.dyDiv span:nth-of-type(2){
	background: url("images/dianya/jl/750.png") no-repeat 10px;
}
.dyDiv span:nth-of-type(3){
	background: url("images/dianya/jl/500.png") no-repeat 10px;
}
.dyDiv span:nth-of-type(4){
	background: url("images/dianya/jl/330.png") no-repeat 10px;
}
.dyDiv span:nth-of-type(5){
	background: url("images/dianya/jl/220.png") no-repeat 10px;
}
.dyDiv span:nth-of-type(6){
	background: url("images/dianya/jl/110.png") no-repeat 10px;
}
.dyDiv span:nth-of-type(7){
	background: url("images/dianya/jl/66.png") no-repeat 10px;
}
.dyDiv span:nth-of-type(8){
	background: url("images/dianya/jl/66.png") no-repeat 10px;
}
.dyDiv span:nth-of-type(9){
	background: url("images/dianya/jl/35.png") no-repeat 10px;
}
.dyDiv span:nth-of-type(10){
	background: url("images/dianya/jl/30.png") no-repeat 10px;
}


.zfdyDiv span:nth-of-type(1){
	background: url("images/dianya/zl/dc800.png") no-repeat 10px;
}
.zfdyDiv span:nth-of-type(2){
	background: url("images/dianya/zl/dc800.png") no-repeat 10px;
}
.zfdyDiv span:nth-of-type(3){
	background: url("images/dianya/zl/dc800.png") no-repeat 10px;
}
.zfdyDiv span:nth-of-type(4){
	background: url("images/dianya/zl/dc660.png") no-repeat 10px;
}
.zfdyDiv span:nth-of-type(5){
	background: url("images/dianya/zl/dc500.png") no-repeat 10px;
}
.zfdyDiv span:nth-of-type(6){
	background: url("images/dianya/zl/dc500.png") no-repeat 10px;
}
.zfdyDiv span:nth-of-type(7){
	background: url("images/dianya/zl/dc500.png") no-repeat 10px;
}
.zfdyDiv span:nth-of-type(8){
	background: url("images/dianya/zl/dc500.png") no-repeat 10px;
}
.zfdyDiv span:nth-of-type(9){
	background: url("images/dianya/zl/dc500.png") no-repeat 10px;
}
.zfdyDiv span:nth-of-type(10){
	background: url("images/dianya/zl/dc500.png") no-repeat 10px;
}
.zfdyDiv span:nth-of-type(11){
	background: url("images/dianya/zl/dc500.png") no-repeat 10px;
}
.zfdyDiv span:nth-of-type(12){
	background: url("images/dianya/zl/dc500.png") no-repeat 10px;
}
.zlDiv .zlxlgy{
	background: url("images/others/zlxl.png") no-repeat left;	
}
.addInput {
	font-size: 14px;
	border: none;
	outline: none;
	width: 200px;
	height: 28px;
    margin-left: 14px;
    border-radius: 10px;
    background: #fff;
}
.guanbi {
	width: 16px;
	height: 16px;
	background: url("images/others/guanbi.png") no-repeat center;
	margin-top: 8px;
	cursor: pointer;
	position: absolute;
    right: 32px;
    top: 1px;
}
.guanbi:hover {
	background: url("images/others/guanbiOn.png") no-repeat center;
}
.ss .commit{
	width: 30px;
	height: 20px;
	float: left;
	background: url("images/others/fangdajing2.png") no-repeat center;
	cursor: pointer;
	margin-top: 6px;
    margin-left: 4px;
}
.ss .moreSearch {
	width: 300px;
	padding: 7px;
	border: 1px solid rgba(214, 210, 210, 0.781);
	border-radius: 5px;
	box-shadow: 2px 2px rgb(214, 210, 210);
	position: absolute;
	top: 55px;
	left: 0;
	background: #FFFFFF;
	display: none;
}
.rightTips{
	position: absolute;
	top: 231px;
	right: 40px;
	width: 96px;
	height: 38px;
	background:url("images/others/tipsbg.png") no-repeat;
	color: #fff;
}
.rightTips .tipsTop{
	background:url("images/others/tipdy.png") no-repeat 8px 2px;
	height: 19px;
	line-height: 19px;
}
.rightTips .tipsBot{
	background:url("images/others/tipzfdy.png") no-repeat 8px 2px;
	height: 19px;
	line-height: 19px;
}
.rightTips .tipsSpan{
	padding-left: 26px;
}
.bottom{
	position: absolute;	
	bottom: 0;
	width: 100%;
	height: 24px;
	background: rgba(86,86,86,0.9);
	text-align: center;
    color: #FFF;
}
.bottom span{
	line-height: 24px;
}
.rbType{
	position: absolute;	
	bottom: 33px;
    left: 5px;
	width: 100px;
	background: #fff;
	border-radius: 5px;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	border-radius: 5px;
    box-shadow: #8a8585 3px 2px 2px;
}
.rbType p{
	padding: 0;
    margin: 0;
	height: 25px;
    line-height: 25px;
    padding-left: 35px;
    margin-left: 9px;
    display:none;
    cursor: pointer;
}
.rbType p:nth-of-type(1) {
	background: url("images/others/tubli.png") no-repeat 0 4px;
	
}
.rbType p:nth-of-type(2) {
	background: url("images/others/tubli.png") no-repeat 0 -68px;
}
.rbType p:nth-of-type(3) {
	background: url("images/others/tubli.png") no-repeat 0 -140px;
}
.rbType p:nth-of-type(4) {
	background: url("images/others/tubli.png") no-repeat 0 -22px;
}
.rbType p:nth-of-type(5) {
	background: url("images/others/tubli.png") no-repeat 0 -164px;
}
.rbType p:nth-of-type(6) {
	background: url("images/others/tubli.png") no-repeat 0 -93px;
}
.rbType p:nth-of-type(7){
	background: url(images/others/tubli.png) no-repeat 0 -210px;
}
.rbType p:nth-of-type(8){
	background: url(images/others/tubli.png) no-repeat 0 -233px;
}
.rbType p:nth-of-type(9){
	background: url(images/others/tubli.png) no-repeat 0 -45px;
}   
.rbType p:nth-of-type(10){
	background: url(images/others/tubli.png) no-repeat 0 -187px;
}
.rbType p:nth-of-type(11){
	background: url(images/others/tubli.png) no-repeat 0 -257px;
}
.rbType p:nth-of-type(12){
	background: url(images/others/tubli.png) no-repeat 0 -116px;
}
.search{
	float: right;
	width: 275px;
	height: 30px;
	position: relative;
	margin-top: 3px;
	margin-right: 5px;
}

.areaName{
	float: right;
	margin-top: 10px;
	height: 20px;
	background: url(images/others/location.png) no-repeat 2px center;
	border-left: 1px solid #D4D4D4;
	border-right: 1px solid #D4D4D4;
	font-size: 14px;
	padding-left: 22px;
    padding-right: 6px;
    cursor: pointer;
    margin-right: 4px;
}
.userName{
	height:24px;
	float:right;
	font-size: 14px;
	margin-top: 10px;
    background-size: 18px 18px;
    margin-right: 12px;
    cursor: pointer;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.searchLi{
	position: absolute;
	width: 275px;
	top: 35px;
	max-height: 200px;
    overflow: auto;
}
.searchLi li{
	line-height: 22px;
	color:#666666;
	font-size: 12px;
	background: #fff;
    padding-left: 14px;
    cursor: pointer
}
.searchLi li:hover{
	background: #f5f5f5;
}
.search.now{
	border:1px solid #D4D4D4;
	border-radius: 20px;
	background: #fff;
}
.searchBtn{
	position: absolute;
	width: 22px;
	height: 28px;
	right: 0;
	top: 3px;
	cursor: pointer;
	background: url(images/others/fangdajing2.png) no-repeat center;
	padding-right:10px;
}
.searchBtn .now{
	background: url(images/others/batte.png) no-repeat -20px -30px;
}      
.liBtn{
	height: 30px;
	text-align: center;
	border-top: 1px solid #D4D4D4;
    margin-top: 8px;
}
.liBtn span{
	width: 40px;
	height: 20px;
	display: block;
	float: left;
	border-radius: 2px;
    line-height: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.confirm{
	margin-left: 96px;
	background: #3385ff;
	color: #fff;
	border: 1px solid #3385ff;
}
.layzi{
	width: 85px;
    height: 85px;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    margin-top: -80px;
    top: 50%;
    background: #fff url(images/others/yun.gif) no-repeat center center;
    background-size: 60px;
    border-radius: 50%;
    box-shadow: #8a8585 3px 2px 2px;
    border: 1px solid #ccc;
}
.cancel{
	border: 1px solid #d2d2d2;
	color: #838383;
	margin-left: 8px;
}
#selector {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 100px;
	bottom: 100px;
	width: 90px;
	height: 90px;
}

#selector div,#selector li{
	margin: 0;
	padding: 0;
}

#selector .item {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
    top: 0;
    left: 0;
    background: #1ab394;
    position: relative;
    box-shadow: 2px 2px 2px #a29e9e;
}

#selector .item .itemImgBig {
	width: 58px;
	height: 46px;
	position: absolute;
	top: 14px;
    left: 16px;
}

#selector .item .name {
	position: absolute;
    top: 56px;
    left: 16px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

#selector .upper {
	width: 20px;
	height: 12px;
	background: url(images/upper.png) no-repeat center center;
	margin: 2px auto;
    cursor: pointer;
}

#selector .upper:hover {
	background: url(images/upperOn.png) no-repeat center center;
}

#selector .itemUl {
	position: absolute;
	top: -15px;
	left: -15px;
	right: -15px;
	bottom: -15px;
	transform: rotate(138deg);
}

#selector .itemLi {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.4s ease-in-out;
}

#selector .itemLi .liDiv {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.4s ease-in-out, color 0.1s, background 0.1s;
}


#selector.open .itemLi .liDiv {
  width: 46px;
  height: 46px;
  margin-left: -40px;
  box-shadow: 2px 2px 2px #a29e9e;
}

#selector.open .itemLi .liDiv:hover {
	background: #0c3771;
}

#selector.open .itemLi .liDiv:hover div{
	color: #fff;
}

#selector.open .itemLi .liDiv .itemImg {
	width: 23px;
	height: 23px;
	margin: 5px 0 0 12px;
}

#selector.open .itemLi .liDiv .names {
	width: 46px;
	height: 46px;
    line-height: 46px;
    color: #525252;
    text-align: center;
}

#selector.open .itemLi .liDiv .names1 {
	width: 46px;
	height: 14px;
    line-height: 14px;
    color: #525252;
    text-align: center;
    margin-top: 8px;
}

#selector.open .itemLi .liDiv .names2 {
	width: 46px;
	height: 14px;
    line-height: 14px;
    color: #525252;
    text-align: center;
}

#selector.open .itemLi .liDiv .names3 {
	width: 46px;
	height: 14px;
    line-height: 14px;
    color: #525252;
    text-align: center;
    margin-top: 5px;
}

#selector.open .itemLi .liDiv .names4 {
	width: 46px;
	height: 14px;
    line-height: 14px;
    color: #525252;
    text-align: center;
}

#selector.open .itemLi .liDiv .names5 {
	width: 46px;
	height: 14px;
    line-height: 4px;
    color: #525252;
    text-align: center;
}

#selector .cutLi {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.4s ease-in-out;
}

#selector .cutLi .liDiv {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.4s ease-in-out, color 0.1s, background 0.1s;
}


#selector.open .cutLi .liDiv {
  width: 46px;
  height: 46px;
  margin-left: -40px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

#selector.open .cutLi .liDiv .cutUp {
	width: 12px;
	height: 8px;
	background: url(images/arrow.png) no-repeat 0 -38px;
	margin: 5px auto 0;
    cursor: pointer;
}

#selector.open .cutLi .liDiv .cutUpOn {
	background: url(images/arrow.png) no-repeat 0 -7px;
}

#selector.open .cutLi .liDiv .cutLine {
	width: 36px;
	height: 1px;
	border-top: 1px solid #a9adad;
	margin: 10px auto 8px;
}

#selector.open .cutLi .liDiv .cutDown {
	width: 12px;
	height: 8px;
	background: url(images/arrow.png) no-repeat 0 -31px;
	margin: 2px auto;
    cursor: pointer;
}

#selector.open .cutLi .liDiv .cutDownOn {
	background: url(images/arrow.png) no-repeat 0 2px;
}

/**2019-1-15**/
.gisTab{
	width: 115px;
	position: absolute;	
	left: 258px;
}
.gisTab ul{
	overflow: hidden;
}
.gisTab ul li{
	float: left;
	width: 55px;
	text-align: center;
	height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 14px;
}
.gisTab ul li span{
	font-size: 14px;
	border: 1px solid #b3b3b3;
	padding: 1px 5px;
    border-radius: 5px;
}

.gisTab .active{
	color: #fff;
	 
}
.gisTab .active span{
	background: #4da6eb;
	color: #fff;
	padding: 2px 5px;
    border-radius: 5px;
    border: none;
}
.gisTab .splid{
	width: 0;
	height: 14px;
	border-left: 1px solid gray;
	float: right;
    margin-top: 13px;
}
.gisTab .splid.rig{
	float: left;
}

#qxz{
	position: absolute;
    left: 320px;
    width: 66px;
}

/**电网**/

.pwBg{
	/* width: 96px; */
    height: 34px;
    line-height: 34px;
	background: #FFFFFF;
	border-bottom:3px solid #19B1F4;
	padding: 0px 24px 0 10px;
	position: relative;
}
.pwBg .pwSp{
	font-size: 16px;
	cursor: pointer;
}
.pwBot{
	height:10px;
	background: url(../js/powerGridModal/images/fixArrow.png) no-repeat 50% 0px;
}
.pwBg .pwRt{
	width: 12px;
	height: 12px;
	background: url(../js/powerGridModal/images/shrinkss.png) no-repeat;
	position: absolute;
	top:1px;
	right:1px;
	cursor: pointer;
}
.echarts{
	width: 440px;
	height: 220px;
	background: #fff;
	position: absolute;
	display: none;
	left: -149px;
    top: -186px;
    border-bottom: 3px solid #19B1F4;
    box-shadow: 5px -5px 5px #ccc;
}
.pwBg .pwTitel span{
	font-size: 16px;
	margin-left: 10px;
}
.pwBg .pwTitel{
	position: relative;
	cursor: pointer;
}

.pwBg .echartsCon{
	height: 185px;
}
.echartsCon .echartsConLeft{
	float:left;
	width:204px;
	height: 100%;
}
.echartsConRight{
	float:left;
	width:235px;
	height: 100%;	
}
.pwTitelBg{
	width: 12px;
	height: 12px;
	position: absolute;
	background: url(../js/powerGridModal/images/shrinkzk.png) no-repeat;
	top: -10px;
    right: 4px;
}
.echartsConLeft .echartDiv{
	height:160px;
}
.echartsConLeft .echartBot{
	margin-left:28px;
	font-size: 12px;
	color:#8b8a88;
	height: 16px;
    line-height: 16px;
}
.echartsConLeft .echartBot span{
	margin-left:6px;
}
.arrowhead {
	background: url(images/arrowhead.png) no-repeat center center;
	width: 5px;
	height: 29px;
	margin: 0 auto;
	position: absolute;
	top: 28px;
	left: 0;
	right: 0;
}
.topTxt {
	height: 28px;
	line-height: 28px;
	background: #fe0501;
	color: #fff;
	font-size: 12px;
	padding: 0 6px;
	border-radius: 5px;
	cursor: pointer;
}
.listTxt {
	height: 24px;
	line-height: 24px;
	background: #fff;
	color: #060606;
	font-size: 12px;
	padding: 0 6px;
	border-radius: 3px;
	border: 2px solid #d11418;
	cursor: pointer;
}
.airBubble {
	position: relative;
}

.bigLocked{
	position:absolute;
	width: 60px;
	height: 60px;
	top: 74px;
	left: 50%;
	margin-left: -20px;
	background: url("images/others/biglock.png") no-repeat;
	display: none;
	cursor: pointer;
}

.layui-layer-dialog .layui-layer-title{
	padding: 0px 80px 0 12px;
	background-color: #777777;
	border-bottom: 1px solid #777777;
}


.moreSetUp{
	position: absolute;
    width: 305px;
    border: 1px solid rgba(214, 210, 210, 0.781);
    border-radius: 2px;
    box-shadow: 1px 1px rgb(214, 210, 210);
    padding: 10px 10px;
    top: 42px;
    left: 305px;
    background: #FFFFFF;
    height: 500px;
    overflow:auto;
    display:none;
}
.moreSetUp .marginTop{
	margin-top: 10px;
}

.moreSetUp .liBtn{
	position: fixed;
    bottom: 36px;
    background: #fff;
    width: 300px;
}

.moreSetUp .liBtn span{
	margin-top: 4px;
}

/*---滚动条默认显示样式--*/  

::-webkit-scrollbar-thumb{  

   background-color:#a0a0a0;  

   height:50px;  

   outline-offset:-2px;  

   outline:2px solid #fff;  

   -webkit-border-radius:4px;  

   border: 2px solid #fff;  

}  

/*---滚动条大小--*/  

::-webkit-scrollbar{  
   width:6px;  
   height:8px;  
}  
 
/*---滚动框背景样式--*/  

::-webkit-scrollbar-track-piece{  

   background-color:#fff;  

   -webkit-border-radius:0;  

}

.borbot{
	border-bottom: none !important;
}

.szcirle{
	width: 20px;
    height: 20px;
    background: url(images/others/cirleT.png) no-repeat center;
    margin: 0 5px 0 10px
}
.szcirle.now{
	width: 20px;
    height: 20px;
    background: url(images/others/cirle.png) no-repeat center;
    margin: 0 5px 0 10px
}

.logo1{
	position:absolute;
	width: 210px;
	height: 40px;
	background: url(images/others/logo1.png) no-repeat center;
}

.mapSelect{
	position: absolute;
    background: #4da6eb url(images/others/menuDown.png) no-repeat 44px center;
    color: #fff;
    left: 200px;
    top: 8px;
    padding: 4px 15px 3px 5px;
    cursor: pointer;
    border-radius: 6px;
}


.temperature .list li p{
	margin: 0px;
    height: 26px;
    line-height: 26px;
    margin-top: 7px;
    width: 60px;
    border-radius: 15px;
    padding-right: 15px;
}


.temperature{
	position:absolute;
	width: 240px;
	height: 40px;
	left: 760px;
	line-height: 40px;
	z-index: 20;
	display:none;
}
.temperature #time{
	float: left;
    margin-top: 6px;
    width: 110px;
    text-align: center;
    height: 20px;
}
.temperature .timeLeft{
	width: 15px;
	height: 40px;
	float: left;
	background: url(images/others/jiantouL.png) no-repeat center;
	cursor: pointer;
}

.temperature .timeRight{
	width: 15px;
	height: 40px;
	float: left;
	background: url(images/others/jiantouR.png) no-repeat center;
	cursor: pointer;
}

.temperature .selectOperation{
	width: 80px;
	height: 26px;
 	border-radius: 25px;
	float: left;
	margin-top: 6px;
	background: #eb6100 url("../js/titleType/images/qx02.png") no-repeat 4px 1px; 
	cursor: pointer;
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
}

.temperature .selectOperation span{
	 font-size: 14px;
	 position:relative;
	 top: -7px;
    left: 31px;
}

.temperature .down{
	position:relative;
	width: 10px;
	height: 10px;
	float: right;
    top: 8px;
    background:  url(images/others/menuDown.png) no-repeat center;
    right: 7px;
}

.temperature .list{
	width: 300px;
	height: 145px;
	top: 44px;
    position: absolute;
    left: 150px;
    border: 1px solid rgba(214, 210, 210, 0.781);
    border-radius: 2px;
    box-shadow: 1px 1px rgb(214, 210, 210);
    padding: 10px 10px;
    background: #fff;
    display:none;
}

.list .conTop{
	height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #D4D4D4;
}
.list .conTop span{
	font-size: 14px;
    font-weight: bold;
}
.list ul{
	overflow:hidden;
}
.list li{
	float: left;
    width: 100px;
    height: 40px;
    text-align: right;
    cursor: pointer;
}
.changeMap{
	position: absolute;
	width: 86px;
	top: 38px;
    left: 185px;
    display:none;
}
.changeMap ul li{
	margin-top: 5px;
	width: 86px;
	height:60px;
	cursor: pointer;
}
.indexpm{
	background: url(../../common/js/satellitePlaneMap/images/satelite1.png) no-repeat;
} 
.indexpm:hover{
	background: url(../../common/js/satellitePlaneMap/images/satelite0.png) no-repeat;
} 
.indexwx{
	background: url(../../common/js/satellitePlaneMap/images/plane1.png) no-repeat;
}
.indexwx:hover{
	background: url(../../common/js/satellitePlaneMap/images/plane0.png) no-repeat;
}
.indexwd{
	background: url(../../common/js/satellitePlaneMap/images/nomap1.png) no-repeat;
}
.indexwd:hover{
	background: url(../../common/js/satellitePlaneMap/images/nomap0.png) no-repeat;
}

.qxsh{
	position: absolute;
    left: 670px;
}

.layui-form-onswitch{
	border-color: #4da6eb !important; 
    background-color: #4da6eb !important;
}

.wblock{
	position: absolute;
	left: 292px;
	top: 12px;
	width: 20px;
    height: 20px;
	background: url(images/others/lock.png) no-repeat;
	cursor: pointer;
}

.wblocked{
	background-position-x: -23px;
}

